.right {
  display: flex;
  justify-content: flex-end;
}
.container {
  max-width: 900px;
}
.form-control1 {
  display: block;
  color: #888;
  margin-bottom: .8rem;

}
.bt {
  display: inline-block;
  background-color: #33BC1D;
  color: white;
  padding: 0.2rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  border-radius: .5rem;

  &:disabled {
    cursor: not-allowed;
    background-color: #33BC1D;
    color: grey;
  }
}
